{% extends "base.html" %}

{% block content %}
<div class="userprofile-container">
    {{request.session.user_id}}
    {{user.id}}
    {{user.first_name}}
    {{user.last_name}}

    {% if request.session.user_id == user.id %}
        <form action="/user/update/{{user.id}}" method="post">           
            {% csrf_token %}
            <input type="text" name="first_name" value="{{user.first_name}}">
            <input type="submit" value="update">       
        </form>
    {% endif %}
            
        </div>
    {% endblock %}